<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="  
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd  
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd  
            http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd  
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd"
	default-autowire="byName" default-lazy-init="false">

	<!-- 自动扫描（自动注入） -->
	<context:component-scan base-package="com.htp.service" />
	<context:component-scan base-package="com.htp.serviceImpl" />
	<context:component-scan base-package="com.htp.dao" />

	<!-- <context:component-scan base-package="com.htp.bean" /> -->
	<bean id="user" class="com.htp.bean.User"></bean>

	<!-- <bean id="userMapper" class="com.htp.dao.UserMapper"></bean> -->
	
	<!-- <bean id="userService" class="com.htp.serviceImpl.UserServiceImpl">
		<property name="userMapper" ref="userMapper"></property>
	</bean> -->
	
	<!-- <bean id="userAction" class="com.htp.action.WelcomeAction" scope="prototype">
		<property name="userService" ref="com.htp.serviceImpl.UserServiceImpl"></property>
	</bean>
 -->
	<context:property-placeholder location="classpath:jdbc_property"></context:property-placeholder>

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<!-- <property name="driverClassName" value="${jdbc.driver}" /> <property 
			name="url" value="${jdbc.url}" /> <property name="username" value="${jdbc.user}" 
			/> <property name="password" value="${jdbc.password}" /> -->
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://127.0.0.1:3306/demo?useSSL=true" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>

	<!-- 加载mybatis文件 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<!-- mybatis配置文件 -->
		<property name="configLocation" value="classpath:mybatisconfig.xml"></property>

		<!-- 自动扫描里的配置文件 -->
		<!-- <property name="mapperLocations" value="classpath:com/htp/dao/*.xml"></property> -->
	</bean>

	<!-- mybatis自动扫描加载Sql映射文件/接口 : MapperScannerConfigurer sqlSessionFactory 
		basePackage:指定sql映射文件/接口所在的包（自动扫描） -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.htp.dao"></property>
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
	</bean>

	<!-- 配置事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- 使用声明式事务 transaction-manager：引用上面定义的事务管理器 -->
	<tx:annotation-driven transaction-manager="transactionManager" />

	<!-- mybatis+spring <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"> 
		dataSource属性指定要用到的连接池 <property name="dataSource" ref="dataSource" /> configLocation属性指定mybatis的核心配置文件 
		<property name="configLocation" value="mybatisconfig.xml" /> </bean> <bean 
		id="userMapper" class="org.mybatis.spring.mapper.MapperFactoryBean"> sqlSessionFactory属性指定要用到的SqlSessionFactory实例 
		<property name="sqlSessionFactory" ref="sqlSessionFactory" /> mapperInterface属性指定映射器接口，用于实现此接口并生成映射器对象 
		<property name="mapperInterface" value="com.htp.mapper.UserMapper" /> </bean> -->
</beans> 